<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Public website/portfolio">
    <meta name="keywords" content="html5, css3, mobile first, responsive, portfolio, bootstrap theme" />
    <meta name="author" content="Carlos Barajas">
        
    <title>SolThoth - Carlos Barajas</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/vendors/Phorto-1.2/css/bootstrap.min.css" />
    <!-- Vendor CSS -->
    <link href="~/vendors/Phorto-1.2/css/style.css" rel="stylesheet" />
    <link href="~/vendors/Phorto-1.2/css/owl.carousel.css" rel="stylesheet" />
    <link href="~/vendors/Phorto-1.2/css/owl.theme.css" rel="stylesheet" />
    <link href="~/vendors/Phorto-1.2/css/animate.css" rel="stylesheet" />
    <!-- fonts -->
    <link href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,400italic,600,700' rel='stylesheet' type='text/css' />
    <link href="~/vendors/Phorto-1.2/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/vendors/Phorto-1.2/css/linear-icons.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
        
    <!-- Custom CSS -->
    <environment include="Development">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div id="wrapper">
        <!-- side navigation -->
        @Html.Partial("_navbar.cshtml")
        <!-- / side navigation -->
        <!-- content -->
        @RenderBody()
        <!-- / content -->
    </div><!-- / wrapper -->
    <!-- javascript -->
    <script src="~/vendors/Phorto-1.2/js/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="~/vendors/Phorto-1.2/js/bootstrap.min.js"></script>
    <!-- javascript plugins -->
    <script src="~/vendors/Phorto-1.2/js/owl.carousel.min.js"></script>
    <script src="~/vendors/Phorto-1.2/js/scrolling-nav.js"></script>
    <script src="~/vendors/Phorto-1.2/js/jquery.easing.min.js"></script>
    <!-- menu toggle script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
    <!-- portfolio script -->
    <script src="~/vendors/Phorto-1.2/js/jquery.shuffle.min.js"></script>
    <script src="~/vendors/Phorto-1.2/js/custom.js"></script>
    <!-- count-to script -->
    <script src="~/vendors/Phorto-1.2/js/jquery.countTo.js"></script>
    <script type="text/javascript">
          $('.timer').countTo({
            refreshInterval: 60,
            formatter: function (value, options) {
              return value.toFixed(options.decimals);
            },
          });
    </script>
    <!-- map script -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBA40uewXP25u1A4o9u8ueBimZZwIdNLkY"></script>
    <script src="~/vendors/Phorto-1.2/js/map.js"></script>
    <!-- contact script -->
    <script src="~/vendors/Phorto-1.2/js/validator.min.js" type="text/javascript"></script>
    <script src="~/vendors/Phorto-1.2/js/form-scripts.js" type="text/javascript"></script>

    <environment include="Development">
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>
