@model SolThoth.PublicProfile.Website.Models.NavbarViewModel

<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a href="#"><img src="~/vendors/Phorto-1.2/images/logo.png" alt=""></a>
        </li>
        <li class="active">
            <a class="menu-item" href="/">Home</a>
        </li>
        <li>
            <a class="menu-item" href="about.html">About</a>
        </li>
        <li>
            <a class="menu-item" href="services.html">Services</a>
        </li>
        <li>
            <a class="menu-item" href="portfolio.html">Portfolio</a>
        </li>
        <li>
            <a class="menu-item" href="shop.html">Shop</a>
        </li>
        <li>
            <a class="menu-item" href="blog.html">Blog</a>
        </li>
        <li>
            <a class="menu-item" href="contact.html">Contact</a>
        </li>
        <li class="menu-footer">
            <span>
                @foreach(var link in Model.SocialMediaLinks.Where(s => s.Active))
                {
                <a href="@link.Url"><i class="fa @link.CssIcon"></i></a>
                }
            </span>
            <p>© 2016 Phorto Theme<p>
        </li>
    </ul>
</div>